<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Kijho Chat" />
        <meta name="author" content="" />
        
        <title>{% block title %}{{'global.chat'|trans}}{% endblock %}</title>     
        
        <link rel="stylesheet" href="{{ asset('bundles/chat/assets/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/chat/assets/css/font-icons/entypo/css/entypo.css') }}">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic">
        {% if local is defined and local == true %}
            <link rel="stylesheet" href="{{ asset('bundles/chat/assets/css/bootstrap.css') }}">
        {% endif %}
        <link rel="stylesheet" href="{{ asset('bundles/chat/assets/css/neon-core.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/chat/assets/css/neon-theme.css') }}">

        <link rel="stylesheet" href=" {{ asset('bundles/chat/css/style-admin.css') }}" media="screen">
        
        {% set skin = 'default' %}
        {% if userSettings is defined %}
            
            {% if userSettings.theme == 'black' %}
                {% set skin = 'skin-black' %}
                <link rel="stylesheet" href="{{ asset('bundles/chat/assets/css/skins/black.css') }}">
            {% elseif userSettings.theme == 'blue' %}
                {% set skin = 'skin-blue' %}
                <link rel="stylesheet" href="{{ asset('bundles/chat/assets/css/skins/blue.css') }}">
            {% elseif userSettings.theme == 'brown' %}
                {% set skin = 'skin-cafe' %}
                <link rel="stylesheet" href="{{ asset('bundles/chat/assets/css/skins/cafe.css') }}">
            {% elseif userSettings.theme == 'green' %}
                {% set skin = 'skin-green' %}
                <link rel="stylesheet" href="{{ asset('bundles/chat/assets/css/skins/green.css') }}">
            {% elseif userSettings.theme == 'purple' %}
                {% set skin = 'skin-purple' %}
                <link rel="stylesheet" href="{{ asset('bundles/chat/assets/css/skins/purple.css') }}">
            {% elseif userSettings.theme == 'red' %}
                {% set skin = 'skin-red' %}
                <link rel="stylesheet" href="{{ asset('bundles/chat/assets/css/skins/red.css') }}">
            {% elseif userSettings.theme == 'white' %}
                {% set skin = 'skin-white' %}
                <link rel="stylesheet" href="{{ asset('bundles/chat/assets/css/skins/white.css') }}">
            {% elseif userSettings.theme == 'yellow' %}
                {% set skin = 'skin-yellow' %}
                <link rel="stylesheet" href="{{ asset('bundles/chat/assets/css/skins/yellow.css') }}">
            {% endif %}
        {% endif %}
        
        {% if skin == 'default' %}
            <link rel="stylesheet" href="{{ asset('bundles/chat/assets/css/skins/default.css') }}">
        {% endif %}
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        
        <script src="{{ asset('bundles/chat/assets/js/jquery-1.11.0.min.js') }}"></script>
    </head><!--/head-->
    <body class="page-body  {% if skin != 'default' %}{{skin}}{% else %}page-fade{% endif %}">

        <div class="page-container">
            {% block content %}
            {% endblock %}
        </div><!--/#about-us-->

        <script src="{{ asset('bundles/chat/assets/js/gsap/main-gsap.js') }}"></script>
        <script src="{{ asset('bundles/chat/assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js') }}"></script>
        {% if local is defined and local == true %}
            <script src="{{ asset('bundles/chat/assets/js/bootstrap.js') }}"></script>
        {% endif %}
        <script src="{{ asset('bundles/chat/assets/js/joinable.js') }}"></script>
        <script src="{{ asset('bundles/chat/assets/js/resizeable.js') }}"></script>
        <script src="{{ asset('bundles/chat/assets/js/neon-chat.js') }}"></script>
        <script src="{{ asset('bundles/chat/assets/js/neon-custom.js') }}"></script>

        <script type="text/javascript">
            var localEnvironment = false;
            {% if local is defined and local == true %}
                localEnvironment = true;
            {% endif %}
            $(document).ready(function () {

                {% block scripts %}
                {% endblock %}
            });
        </script>
        
        {% block other_scripts %}
        {% endblock %}
            
    </body>
</html>
