{% extends 'ChatBundle:Default:mainClient.html.twig' %}
{% block title %}Chat Bundle{% endblock %}
{% block content %}
    <article class="col-md-12 ap">
        <h1 class="pdn">Chat</h1>

        <div class="widget">

            <div class="col-lg-6">
                <div class="row">
                    <legend>Hi {{ app.user }}, Welcome to Chat</legend>

                    <div class="col-lg-12 col-md-12" style="height: 200px; max-height: 200px; overflow: auto; margin-bottom: 12px;">
                        <ul id="message-list">
                        </ul>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <input type="text" class="form-control pull-left" id="input-message" placeholer="Type a message" style="width: 80%;"/>
                        <a href="javascript:void(0);" class="btn btn-primary btn-md pull-right send-message">Send</a>
                    </div>
                </div>
            </div>
        </div>
    </article>

{% endblock %}

{% block other_scripts %}
    {{ ws_client() }}

    <script type="text/javascript">
        var _WS_URI = "ws://{{ gos_web_socket_server_host }}:{{ gos_web_socket_server_port }}";

        var webSocket = WS.connect(_WS_URI);

        webSocket.on("socket/connect", function (session) {
            bindUI(session);
            console.log("Successfully Connected!");
            updateConnectionData(session)
            joinChatRoom(session);
        });

        webSocket.on("socket/disconnect", function (error) {
            console.log("Disconnected for " + error.reason + " with code " + error.code);
            unbindUI();
        });

        /*Permite cambiar el nickname del usuario*/
        function updateConnectionData(session)
        {
            session.call("rpc/update_connection_data", {"nickname": "{{nickname}}", "user_id": "{{userId}}", "user_type": "{{userType}}"}).then(
                function (result)
                {
                    console.log("RPC Valid!", result);
                },
                function (error, desc)
                {
                    console.log("RPC Error", error, desc);
                }
            );
        }

        // Permite habilitar los eventos sobre los botones de la ventana, cuando hay conexion
        function bindUI(session) {

            $("#input-message").bind("keydown", function (e) {
                var key;
                if (window.event) {
                    key = window.event.keyCode;   /*IE*/
                } else {
                    key = e.which;                /*firefox*/
                }
                if (key == 13) {
                    sendMessage(session);
                }
            });

            $(".send-message").bind("click", function (e) {
                sendMessage(session);
            });
        }

        // Permite deshabilitar los eventos sobre los botones, cuando se pierde la conexion
        function unbindUI() {
            $(".send-message").unbind();
            $("#input-message").unbind();
        }

        //permite realizar la conexion a una sala en especifico, y establecer un escucha de eventos
        function joinChatRoom(session) {
            //the callback function in "subscribe" is called everytime an event is published in that channel.
            session.subscribe("chat/channel", serverEvent);
        }

        function sendMessage(session) {

            var message = $("#input-message").val();
            if (message != '') {
                var data = {type: "{{constant('Kijho\\ChatBundle\\Topic\\ChatTopic::MESSAGE_TO_ADMIN')}}",
                    message: message,
                    destination: 'Administrator'
                };
                session.publish("chat/channel", data);
                $("#input-message").val('');
            }
            $("#input-message").focus();
        }

        //es la funcion que escucha los eventos del servidor
        function serverEvent(uri, payload) {
            console.log(payload);
            if (payload.msg_type == "{{constant('Kijho\\ChatBundle\\Topic\\ChatTopic::SERVER_WELCOME_MESSAGE')}}") {
                $("#message-list").append('<li>' + payload.msg + '</li>');
            } else if (payload.msg_type == "{{constant('Kijho\\ChatBundle\\Topic\\ChatTopic::MESSAGE_FROM_ADMIN')}}") {
                $("#message-list").append('<li>' + payload.msg + '</li>');
            } else if (payload.msg_type == "{{constant('Kijho\\ChatBundle\\Topic\\ChatTopic::MESSAGE_SEND_SUCCESSFULLY')}}") {
                $("#message-list").append('<li>' + payload.msg + '</li>');
            }
        }
    </script>
{% endblock %}