{% extends 'ChatBundle:Default:mainAdmin.html.twig' %}
{% block title %}Chat Bundle - Admin{% endblock %}
{% block content %}

    <div class="main-content">

        <div class="row">
            <!-- Raw Links -->
            <div class="col-md-6 pull-right">
                <ul class="list-inline links-list ">
                    <li>
                        <a id="display-chat" href="#" data-toggle="chat" data-animate="1" data-collapse-sidebar="1">
                            <i class="entypo-chat"></i>
                            Chat
                            <span class="badge badge-success chat-notifications-badge is-hidden">0</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <hr />

        <div class="col-lg-12" style="height: 600px; min-height: 600px;">
            <h2>Admin Chat Panel</h2>
            <ul id="message-list">
            </ul>

            <div class="col-xs-12" id="container-server-start" style="display: none;">
                <p>Chat server offline.</p>
                <a class="btn btn-primary btn-md start-gos-server">Start Chat Server</a>
            </div>
        </div>
    </div>

    <div id="chat" class="fixed" data-current-user="{{nickname}}" data-order-by-status="1" data-max-chat-history="25">

        <div class="chat-inner">

            <h2 class="chat-header">
                <a href="#" class="chat-close" data-animate="1"><i class="entypo-cancel"></i></a>

                <i class="entypo-users"></i>
                Chat
                <span class="badge badge-success is-hidden">0</span>
            </h2>

            <div class="chat-group" id="group-1">
                <strong>Favorites</strong>

                <a href="#" id="sample-user-123" data-conversation-history="#sample_history"><span class="user-status is-online"></span> <em>Catherine J. Watkins</em></a>
                <a href="#"><span class="user-status is-online"></span> <em>Nicholas R. Walker</em></a>
                <a href="#"><span class="user-status is-busy"></span> <em>Susan J. Best</em></a>
                <a href="#"><span class="user-status is-offline"></span> <em>Brandon S. Young</em></a>
                <a href="#"><span class="user-status is-idle"></span> <em>Fernando G. Olson</em></a>
            </div>

            {#<div class="chat-group" id="group-2">
                <strong>Work</strong>

                <a href="#"><span class="user-status is-offline"></span> <em>Robert J. Garcia</em></a>
                <a href="#" data-conversation-history="#sample_history_2"><span class="user-status is-offline"></span> <em>Daniel A. Pena</em></a>
                <a href="#"><span class="user-status is-busy"></span> <em>Rodrigo E. Lozano</em></a>
            </div>#}

            <div class="chat-group" id="group-2">
                <strong>All Chats</strong>
                {% for conversation in lastConversations %}
                    <a href="#" class="open-client-conversation" client-id="{{conversation.senderId}}" data-conversation-history="#client-{{conversation.senderId}}"><span class="user-status is-offline"></span> <em>{{conversation.senderNickname}}</em></a>
                {% else %}
                    <a class="disabled" href="return false;">No chat history.</a>
                {% endfor %}
            </div>

            <div class="chat-group online-users" id="group-3">
                <strong>Online Users</strong>
                <a href='#'>Loading...</a>
            </div>

        </div>

        <!-- conversation template -->
        <div class="chat-conversation">
            <div class="conversation-header">
                <a href="#" class="conversation-close"><i class="entypo-cancel"></i></a>

                <span class="user-status"></span>
                <span class="display-name"></span> 
                <small></small>
            </div>

            <ul class="conversation-body">	
            </ul>

            <div class="chat-textarea">
                <textarea class="form-control autogrow" placeholder="Type your message"></textarea>
            </div>
        </div>
    </div>

    <!-- Chat Histories -->
    <ul class="chat-history" id="sample_history">
        <li>
            <span class="user">Art Ramadani</span>
            <p>Are you here?</p>
            <span class="time">09:00</span>
        </li>

        <li class="opponent">
            <span class="user">Catherine J. Watkins</span>
            <p>This message is pre-queued.</p>
            <span class="time">09:25</span>
        </li>

        <li class="opponent">
            <span class="user">Catherine J. Watkins</span>
            <p>Whohoo!</p>
            <span class="time">09:26</span>
        </li>

        <li class="opponent unread">
            <span class="user">Catherine J. Watkins</span>
            <p>Do you like it?</p>
            <span class="time">09:27</span>
        </li>
    </ul>

    <!-- Chat Histories -->
    <div class="container-chats">
        {% for clientConversation in allConversations %}
            <ul class="chat-history" id="client-{{clientConversation.data.senderId}}">
                {% for message in clientConversation.messages %}
                    {% set userClass = 'opponent' %}
                    {% if message.senderId == userId %}
                        {% set userClass = 'user' %}
                    {% endif %}
                    {% set readClass = 'unread' %}
                    {% if message.readed == true %}
                        {% set readClass = '' %}
                    {% endif %}
                    <li class="{{userClass~' '~readClass}}">
                        <span class="user">{{message.senderNickname}}</span>
                        <p>{{message.message}}</p>
                        <span class="time">{{message.date|date('m/d/Y h:i a')}}</span>
                    </li>
                {% endfor %}

                {#<li class="opponent unread">
                    <span class="user">Daniel A. Pena</span>
                    <p>I am going out.</p>
                    <span class="time">08:21</span>
                </li>

                <li class="opponent unread">
                    <span class="user">Daniel A. Pena</span>
                    <p>Call me when you see this message.</p>
                    <span class="time">08:27</span>
                </li>#}
            </ul>
        {% endfor %}
    </div>

{% endblock %}

{% block scripts %}
    {# Damos click en este boton para desplegar el panel #}
        $("#display-chat").trigger('click');

    {# Ejecutamos una funcion periodicamente para verificar el estado del servidor #}
        window.setInterval(verifyServerConnection, 4000);

        $(".start-gos-server").click(function () {
            $(this).html('Please wait..');
            $.ajax({
                type: 'POST',
                url: "{{path('chat_start_gos_server')}}",
                dataType: 'json',
                timeout: 4000,
                success: function (r)
                {
                    window.location.reload();
                },
                error: function (r)
                {
                    window.location.reload();
                }
            });
        });
{% endblock %}

{% block other_scripts %}
    {{ ws_client() }}

    <script type = "text/javascript" >
        var _WS_URI = "ws://{{ gos_web_socket_server_host }}:{{ gos_web_socket_server_port }}";

        var webSocket = WS.connect(_WS_URI);

        var successConnect = false;

        webSocket.on("socket/connect", function (session) {
            bindUI(session);
            console.log("Successfully Connected!");
            successConnect = true;
            updateConnectionData(session)
            joinChatRoom(session);
        });

        webSocket.on("socket/disconnect", function (error) {
            console.log("Disconnected for " + error.reason + " with code " + error.code);
            successConnect = false;
            unbindUI();
        });

        /*Permite cambiar el nickname del usuario*/
        function updateConnectionData(session)
        {
            session.call("rpc/update_connection_data", {"nickname": "{{nickname}}", "user_id": "{{userId}}", "user_type": "{{userType}}"}).then(
                    function (result)
                    {
                        console.log("RPC Valid!", result);
                    },
                    function (error, desc)
                    {

                        console.log("RPC Error", error, desc);
                    }
            );
        }

        var messageToClient = '';
        // Permite habilitar los eventos sobre los botones de la ventana, cuando hay conexion
        function bindUI(session) {
            $(".chat-textarea textarea").bind("keyup", function (e) {
                var key;
                if (window.event) {
                    key = window.event.keyCode;   /*IE*/
                } else {
                    key = e.which;                /*firefox*/
                }
                if ($('.chat-textarea textarea').val() != '') {
                    messageToClient = $('.chat-textarea textarea').val();
                }
                if (key == 13) {
                    sendMessage(session);
                }
            });

            $(".chat-inner").on("click", ".open-client-conversation", function () {
                var clientId = $(this).attr('client-id');
                prepareToMessage(clientId);
                putMessagesReaded(session, clientId);
            });
        }



        // Permite deshabilitar los eventos sobre los botones, cuando se pierde la conexion
        function unbindUI() {
            $(".chat-textarea textarea").unbind();
            $(".open-client-conversation").unbind();
        }

        //permite realizar la conexion a una sala en especifico, y establecer un escucha de eventos
        function joinChatRoom(session) {
            //the callback function in "subscribe" is called everytime an event is published in that channel.
            session.subscribe("{{constant('Kijho\\ChatBundle\\Topic\\ChatTopic::CHAT_CHANNEL')}}", serverEvent);
        }

        /**
         * Esta funcion permite setear el id del cliente en el texarea 
         * para enviar mensajes, cuando el usuario abre una ventana de chat
         * @param {string} clientId identficador del cliente
         **/
        function prepareToMessage(clientId) {
            $(".chat-textarea textarea").attr('destination-id', clientId);
        }

        /**
         * Permite enviar un mensaje a alguno de los clientes
         * @param {type} session
         * @returns {undefined}
         */
        function sendMessage(session) {
            var textarea = $('.chat-textarea textarea');
            var clientId = textarea.attr('destination-id') + "";

            if (clientId != '' && clientId != 'undefined' && messageToClient != '') {
                var data = {type: "{{constant('Kijho\\ChatBundle\\Topic\\ChatTopic::MESSAGE_TO_CLIENT')}}",
                    clientId: clientId,
                    message: messageToClient,
                };
                session.publish("{{constant('Kijho\\ChatBundle\\Topic\\ChatTopic::CHAT_CHANNEL')}}", data);
                messageToClient = '';
            }
        }

        /**
         * Es la funcion que escucha los eventos del servidor 
         * @param {type} uri
         * @param {type} payload
         * @returns {undefined}
         */
        function serverEvent(uri, payload) {

            if (payload.msg_type == "{{constant('Kijho\\ChatBundle\\Topic\\ChatTopic::SERVER_WELCOME_MESSAGE')}}") {
                $("#message-list").append('<li>' + payload.msg + '</li>');
            } else if (payload.msg_type == "{{constant('Kijho\\ChatBundle\\Topic\\ChatTopic::MESSAGE_FROM_CLIENT')}}") {
                messageFromClient(payload);
            } else if (payload.msg_type == "{{constant('Kijho\\ChatBundle\\Topic\\ChatTopic::SERVER_ONLINE_USERS')}}") {
                refreshOnlineUsers(payload.online_users);
            } else if (payload.msg_type == "{{constant('Kijho\\ChatBundle\\Topic\\ChatTopic::SERVER_NEW_CLIENT_CONNECTION')}}") {
                clientJoinRoom(payload);
            } else if (payload.msg_type == "{{constant('Kijho\\ChatBundle\\Topic\\ChatTopic::SERVER_CLIENT_LEFT_ROOM')}}") {
                clientLeftRoom(payload);
            } else if (payload.msg_type == "{{constant('Kijho\\ChatBundle\\Topic\\ChatTopic::MESSAGE_SEND_SUCCESSFULLY')}}") {
                $("#message-list").append('<li>' + payload.msg + '</li>');
            }
        }

        /**
         * Permite pintar el listado de usuarios conectados
         * @param {string} onlineUsers
         **/
        function refreshOnlineUsers(onlineUsers) {
            $('.online-users').html('<strong>Online Users</strong>');

            for (i = 0; i < onlineUsers.length; i++) {
                var htmlUser = '<a href="#" class="open-client-conversation" client-id="' + onlineUsers[i]['user_id'] + '" data-conversation-history="#client-' + onlineUsers[i]['user_id'] + '"><span class="user-status is-online"></span> <em>' + onlineUsers[i]['nickname'] + '</em></a>';
                $('.online-users').append(htmlUser);
            }

            //verificamos si los online estan en el listado de conversaciones para ponerlos online (verde)
            for (i = 0; i < onlineUsers.length; i++) {
                var element = $("#group-2 a[client-id='" + onlineUsers[i]['user_id'] + "']");
                if (!$.isEmptyObject(element.html())) {
                    var spanStatus = $("#group-2 a[client-id='" + onlineUsers[i]['user_id'] + "'] span").first();
                    spanStatus.attr('class', 'user-status is-online');
                }
            }
        }

        /**
         * Permite realizar acciones en pantalla cuando un cliente
         * sale del chat 
         * @param {type} payload
         **/
        function clientLeftRoom(payload) {
            var element = $("#group-2 a[client-id='" + payload.user_id + "']");
            if (!$.isEmptyObject(element.html())) {
                var spanStatus = $("#group-2 a[client-id='" + payload.user_id + "'] span").first();
                spanStatus.attr('class', 'user-status is-offline');
            }
            $("#message-list").append('<li>' + payload.msg + '</li>');
        }

        /**
         * Permite realizar acciones en pantalla cuando un cliente
         * se conecta al chat
         * @param {type} payload
         **/
        function clientJoinRoom(payload) {
            var element = $("#group-2 a[client-id='" + payload.user_id + "']");
            if (!$.isEmptyObject(element.html())) {
                var spanStatus = $("#group-2 a[client-id='" + payload.user_id + "'] span").first();
                spanStatus.attr('class', 'user-status is-online');
            } else {
                var htmlUser = '<a href="#" class="open-client-conversation" client-id="' + payload.user_id + '" data-conversation-history="#client-' + payload.user_id + '"><span class="user-status is-online"></span> <em>' + payload.nickname + '</em><span class="badge badge-info is-hidden">0</span></a>';
                var firstUser = $('#group-2 a').first();
                if (firstUser.hasClass('disabled')) {
                    firstUser.remove();
                    $('#group-2').append(htmlUser);
                } else {
                    $('#group-2 a').first().before(htmlUser);
                }

            }
            $("#message-list").append('<li>' + payload.msg + '</li>');
        }

        /**
         * Permite verificar el estado del servidor gos para ocultar o mostrar 
         * el boton de inicio manual del servidor
         */
        function verifyServerConnection() {
            if (successConnect) {
                $('#container-server-start').css('display', 'none');
            } else {
                $('#container-server-start').css('display', '');
            }
        }

        /**
         * Permite marcar los mensajes de un cliente como leidos
         * @param {string} clientId identificador del cliente
         **/
        function putMessagesReaded(session, clientId) {
            if (clientId != '') {
                var data = {type: "{{constant('Kijho\\ChatBundle\\Topic\\ChatTopic::PUT_MESSAGES_AS_READED')}}",
                    clientId: clientId,
                };
                session.publish("{{constant('Kijho\\ChatBundle\\Topic\\ChatTopic::CHAT_CHANNEL')}}", data);
            }
        }

        /**
         * Permite realizar acciones en pantalla cuando llega un mensaje de un cliente
         * @param {type} payload
         **/
        function messageFromClient(payload) {
            $("#message-list").append('<li>' + payload.msg + '</li>');
            console.log(payload);
            //buscamos el tab de conversacion del usuario en el listado de conversaciones
            var element = $(".open-client-conversation[client-id='" + payload.user_id + "']");
            if (!$.isEmptyObject(element.html())) {
                increaseUnreadCounters(element);
                
                //buscamos el panel de mensajes del usuario
                var chatContainer = $("#client-"+payload.user_id);
                if (!$.isEmptyObject(chatContainer.html())) {
                    var html = '<li class="opponent unread">'
                                    +'<span class="user">' + payload.nickname + '</span>'
                                    +'<p>' + payload.msg + '</p>'
                                    +'<span class="time">' + payload.msg_date +'</span>'
                                +'</li>';
                    chatContainer.append(html);
                    neonChat.prefetchMessages();
                } else {
                    //si no habia un panel de mensajes para el usuario, le creamos uno
                    var html = '<ul class="chat-history" id="client-' + payload.user_id + '">'
                                    +'<li class="opponent unread">'
                                        +'<span class="user">' + payload.nickname + '</span>'
                                        +'<p>' + payload.msg + '</p>'
                                        +'<span class="time">' + payload.msg_date +'</span>'
                                    +'</li>'
                                +'</ul>';
                    $(".container-chats").append(html);
                    neonChat.prefetchMessages();
                }
            } else {
                console.log('el usuario no esta en la lista de conversaciones');
            }

        }

        /**
         * Permite incrementar los contadores de mensajes no leidos
         * cuando un cliente envia un nuevo mensaje
         * @param {type} element
         **/
        function increaseUnreadCounters(element) {
            //buscamos el span para aumentar los mensajes sin leer del usuario
            var span = element.find("span.badge");
            var unreadMessages = parseInt(span.text());
            if (unreadMessages == 0) {
                span.removeClass('is-hidden');
            }
            span.text(unreadMessages + 1);

            //buscamos el span para aumentar los mensajes sin leer de todos los usuarios
            var generalSpan = $(".chat-header span.badge");
            var unreadMessages = parseInt(generalSpan.text());
            if (unreadMessages == 0) {
                generalSpan.removeClass('is-hidden');
            }
            generalSpan.text(unreadMessages + 1);
        }



    </script>
{% endblock %}