{% extends 'ChatBundle:Default:mainClient.html.twig' %}
{% block title %}Chat Bundle{% endblock %}
{% block content %}
        <div class="row">
            <div class="col-md-5">
                <h1 class="pdn">Chat</h1>
                <legend>Hi {{ nickname }}, Welcome to Chat</legend>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-comment"></span> Chat
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </button>
                            <ul class="dropdown-menu slidedown">
                                <li>
                                    <a href="#"><span class="glyphicon glyphicon-refresh"></span>Refresh</a>
                                </li>
                                <li>
                                    <a href="#"><span class="glyphicon glyphicon-ok-sign"></span>Available</a>
                                </li>
                                <li>
                                    <a href="#"><span class="glyphicon glyphicon-remove"></span>Busy</a>
                                </li>
                                <li>
                                    <a href="#"><span class="glyphicon glyphicon-time"></span>Away</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#"><span class="glyphicon glyphicon-off"></span>Sign Out</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body">
                        <ul class="chat" id="message-list">
                            {#<li class="left clearfix"><span class="chat-img pull-left">
                                    <img src="http://placehold.it/50/55C1E7/fff&amp;text=U" alt="User Avatar" class="img-circle">
                                </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">Jack Sparrow</strong> <small class="pull-right text-muted">
                                            <span class="glyphicon glyphicon-time"></span>12 mins ago</small>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                        dolor, quis ullamcorper ligula sodales.
                                    </p>
                                </div>
                            </li>
                            <li class="right clearfix"><span class="chat-img pull-right">
                                    <img src="http://placehold.it/50/FA6F57/fff&amp;text=ME" alt="User Avatar" class="img-circle">
                                </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>13 mins ago</small>
                                        <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                        dolor, quis ullamcorper ligula sodales.
                                    </p>
                                </div>
                            </li>#}
                            
                            
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <input id="input-message" type="text" class="form-control input-sm" placeholder="Type your message here...">
                            <span class="input-group-btn">
                                <button class="btn btn-warning btn-sm send-message" id="btn-chat">
                                    Send</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}

{% block other_scripts %}
    {{ ws_client() }}

    <script type="text/javascript">
        var _WS_URI = "ws://{{ gos_web_socket_server_host }}:{{ gos_web_socket_server_port }}";

        var webSocket = WS.connect(_WS_URI);

        webSocket.on("socket/connect", function (session) {
            bindUI(session);
            console.log("Successfully Connected!");
            updateConnectionData(session)
            joinChatRoom(session);
        });

        webSocket.on("socket/disconnect", function (error) {
            console.log("Disconnected for " + error.reason + " with code " + error.code);
            unbindUI();
        });

        /*Permite cambiar el nickname del usuario*/
        function updateConnectionData(session)
        {
            session.call("rpc/update_connection_data", {"nickname": "{{nickname}}", "user_id": "{{userId}}", "user_type": "{{userType}}"}).then(
                    function (result)
                    {
                        console.log("RPC Valid!", result);
                    },
                    function (error, desc)
                    {
                        console.log("RPC Error", error, desc);
                    }
            );
        }

        // Permite habilitar los eventos sobre los botones de la ventana, cuando hay conexion
        function bindUI(session) {

            $("#input-message").bind("keydown", function (e) {
                var key;
                if (window.event) {
                    key = window.event.keyCode;   /*IE*/
                } else {
                    key = e.which;                /*firefox*/
                }
                if (key == 13) {
                    sendMessage(session);
                }
            });

            $(".send-message").bind("click", function (e) {
                sendMessage(session);
            });
        }

        // Permite deshabilitar los eventos sobre los botones, cuando se pierde la conexion
        function unbindUI() {
            $(".send-message").unbind();
            $("#input-message").unbind();
        }

        //permite realizar la conexion a una sala en especifico, y establecer un escucha de eventos
        function joinChatRoom(session) {
            //the callback function in "subscribe" is called everytime an event is published in that channel.
            session.subscribe("chat/channel", serverEvent);
        }

        function sendMessage(session) {

            var message = $("#input-message").val();
            if (message != '') {
                var data = {type: "{{constant('Kijho\\ChatBundle\\Topic\\ChatTopic::MESSAGE_TO_ADMIN')}}",
                    message: message,
                    destination: 'Administrator'
                };
                session.publish("chat/channel", data);
                $("#input-message").val('');
            }
            $("#input-message").focus();
        }

        //es la funcion que escucha los eventos del servidor
        function serverEvent(uri, payload) {
            console.log(payload);
            if (payload.msg_type == "{{constant('Kijho\\ChatBundle\\Topic\\ChatTopic::SERVER_WELCOME_MESSAGE')}}") {
                $("#message-list").append('<li>' + payload.msg + '</li>');
            } else if (payload.msg_type == "{{constant('Kijho\\ChatBundle\\Topic\\ChatTopic::MESSAGE_FROM_ADMIN')}}") {
                appendHtmlMessageAdmin(payload)
            } else if (payload.msg_type == "{{constant('Kijho\\ChatBundle\\Topic\\ChatTopic::MESSAGE_SEND_SUCCESSFULLY')}}") {
                appendHtmlMessageClient(payload);
            }
        }
        
        function appendHtmlMessageClient(payload) {
            var html = '<li class="right clearfix"><span class="chat-img pull-right">'
                                    +'<img src="http://placehold.it/50/FA6F57/fff&amp;text=ME" alt="User Avatar" class="img-circle">'
                                +'</span>'
                                +'<div class="chat-body clearfix">'
                                    +'<div class="header">'
                                        +'<small class=" text-muted"><span class="glyphicon glyphicon-time"></span>' + payload.msg_date + '</small>'
                                        +'<strong class="pull-right primary-font">' + payload.nickname + '</strong>'
                                    +'</div>'
                                    +'<p>' + payload.msg + '</p>'
                                +'</div>'
                            +'</li>';
            $("#message-list").append(html);
            scrollDown();
        }
        
        function appendHtmlMessageAdmin(payload) {
            var html = '<li class="left clearfix"><span class="chat-img pull-left">'
                                +'<img src="http://placehold.it/50/55C1E7/fff&amp;text=U" alt="User Avatar" class="img-circle">'
                            +'</span>'
                            +'<div class="chat-body clearfix">'
                                +'<div class="header">'
                                    +'<strong class="primary-font">' + payload.nickname + '</strong> <small class="pull-right text-muted">'
                                        +'<span class="glyphicon glyphicon-time"></span>' + payload.msg_date + '</small>'
                                +'</div>'
                                +'<p>' + payload.msg + '</p>'
                            +'</div>'
                        +'</li>';
            $("#message-list").append(html);
            scrollDown();
        }
        
        function scrollDown() {
            $(".panel-body").scrollTop($("#message-list li:last").position().top - 50 );
        };
        
    </script>
{% endblock %}